.main-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.main-table-row {
  width: 80%;
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  padding: 15px;
  cursor: pointer;
}

.main-table-row.notValid {
  background-color: rgb(255, 104, 104);
}

.main-table-row.valid {
  background-color: rgb(140, 255, 140);
}

.main-table-row img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 120px;
}

.main-table-column {
  flex: 1;
}

.main-table-column.checkbox {
  width: 20px;
  height: 20px;
}

.main-table-row:nth-child(2n) {
  background-color: rgb(242, 242, 242);
}

.main-table-row.first-row {
  font-weight: bold;
  background-color: #02247e;
  color: white;
  flex: 1;
  margin-top: 35px;
}
